<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Detail Category</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detail Category</h6>
            </div>
            <div class="card-body">
                Category ID : @Model.CategoryID &nbsp;
                Category Name : @Model.CategoryName &nbsp;
            </div>
        </div>

    </div>

</div>
