@model IEnumerable<SampleMVC.Models.Category>
@{
    if (ViewData["users"] == null)
    {
        ViewData["users"] = new List<SampleMVC.Models.User>();
    }
    var users = ViewData["users"] as List<SampleMVC.Models.User>;
}

<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category Page</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Category Page</h6>
            </div>
            <div class="card-body">
                <form method="post" class="form-inline" action="/Categories/Search">
                    <p> <input type="text" id="search" class="form-control" name="search"
                            placeholder="search category name" />
                        &nbsp;
                        <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                    </p>
                </form>

                <a href="/Categories/Create" class="btn btn-success btn-sm">Create New Category</a>&nbsp;
                <table class="table table-striped">
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryID</td>
                            <td>@category.CategoryName</td>
                            <td><a href="/Categories/Edit/@category.CategoryID" class="btn btn-warning btn-sm">edit</a></td>
                            <td><a href="/Categories/Delete/@category.CategoryID" class="btn btn-danger btn-sm">delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>

</div>
